- provide(:title, "Edit Profile")

= render 'shared/header'

.container
  .row.content--section
    .col-xs-12.col-sm-8.col-md-5
      %p Please fill in your profile before you start adding any teaching posts and studying reqeusts to avoid any future problems.
      = simple_form_for @profile, url: user_profile_path do |f|
        = f.input :first_name
        = f.input :last_name
        = f.input :city
        = f.input :country
        .avatar_class
          = gravatar_for @profile
        = f.file_field :avatar
        %br/
        = f.button :submit
