- provide(:title, @first_name + " " + @last_name)

= render 'shared/header'

.container
  .row.content--section

    .col-xs-12.col-sm-6
      %h4 As a teacher

      - if @posts.length > 0
        - @posts.each do |post|
          .col-xs-12.col-sm-6.col-md-4.post-collect
            .post-gallery
              .post-image
                = image_tag(post.image.url, class: 'post-image')
              %span.pull-left.post-price
                $
                %strong
                  10
              .col-md-12.row-reviews
                .rating.pull-left
                  %i.fa.fa-star
                  %i.fa.fa-star
                  %i.fa.fa-star
                  %i.fa.fa-star
                  %i.fa.fa-star
              .col-md-12.row-title
                %h5 #{post.title}
              %hr
              .row
                .col-md-5.pull-left
                  = image_tag(post.user.profile.avatar.url, class: 'post-avatar')
                  %p.post-name #{post.user.profile.first_name}&nbsp;#{post.user.profile.last_name.slice(0,1).capitalize}.
                

      - else
        %p.text-muted There are no posts for this user


    .col-xs-12.col-sm-6

      %h4 As a student

      - if @requests.length > 0
        - @requests.each do |request|

          .col-xs-12.col-md-6.no--padding--left
            .request--box.box
              .request--info
                %p= request.user.profile.city
              .request--title
                %h3= link_to request.title, request
              .request--profile
                = gravatar_for request.user.profile
                = link_to request.user.profile.name, request.user
                %a.request--message--icon.pull-right{ href: "#0", alt: "Message"}
                  %i.fa.fa-envelope-o

      - else
        %p.text-muted There are no requests for this user
