- provide(:title, @first_name + " " + @last_name)

= render 'shared/header'

.container
  .row.content--section

    .col-xs-12.col-sm-6
      %h4 As a teacher

      - if @posts.length > 0
        - @posts.each do |post|
          .col-xs-12.col-md-6.no--padding--left
            .post--box.box
              .post--info
                %p
                  %span.info--city= post.user.profile.city
                  %span.info--price.pull-right
                    = post.price
                    hr
              .post--title
                %h3= link_to post.title, post
              .post--profile
                = gravatar_for post.user.profile
                = link_to post.user.profile.name, post.user
                %a.post--message--icon.pull-right{ href: "#0", alt: "Message"}
                  %i.fa.fa-envelope-o

      - else
        %p.text-muted There are no posts for this user


    .col-xs-12.col-sm-6

      %h4 As a student

      - if @requests.length > 0
        - @requests.each do |request|

          .col-xs-12.col-md-6.no--padding--left
            .request--box.box
              .request--info
                %p= request.user.profile.city
              .request--title
                %h3= link_to request.title, request
              .request--profile
                = gravatar_for request.user.profile
                = link_to request.user.profile.name, request.user
                %a.request--message--icon.pull-right{ href: "#0", alt: "Message"}
                  %i.fa.fa-envelope-o

      - else
        %p.text-muted There are no requests for this user
