.header--section.header--profile
  .container.header--content
    .row

      .profile--content.clear
        .col-xs-12.col-sm-3.col-md-2
          .main--profile--picture
            = image_tag(current_user.profile.avatar.url, class: 'gravatar')

        .col-xs-12.col-sm-9.col-md-10
          %h2.profile--name= current_user.profile.name
          %p.profile--country
            = current_user.profile.city
            ,
            = current_user.profile.country

      .col-xs-12
        .sub--nav
          %ul.nav.nav-tabs
            %li
              = link_to "My profile", current_user
            %li
              = link_to "Edit profile", edit_user_profile_path(current_user.id, current_user.profile.id)
            %li
              = link_to "Account Settings", edit_user_registration_path