= simple_form_for @request do |f|
  .form-group.select.required.input_category
    = f.label :category_id, label: "Select a Category for this Post"
    = f.input_field :category_id, as: :select, collection: Category.all, prompt: "Select category", required: true
  = f.error :category_id

  %span.fixed-start-post-title
    I want to learn
  = f.input :title, placeholder: 'how to study English '
  %span.check-validation
    Can't be empty
  %br
  = f.input :description, placeholder: 'Give a brief description of your expectations and what you are looking for...'
  = f.input :price, label: "Prefered price per hour"
  - if @request.location_id.nil?
    = f.input :location_id, as: :select, collection: @normal_locations.map{|location| [location.city, location.id]}, prompt: "Select Location", required: true
  - else 
    -if @request.location_id > 6
      = f.input :location_id, as: :select, collection: @normal_locations.map{|location| [location.city, location.id]}, prompt: "Select Location", required: true, selected: 7
    - else
      = f.input :location_id, as: :select, collection: @normal_locations.map{|location| [location.city, location.id]}, prompt: "Select Location", required: true

  - if @request.location_id.nil?
    .form-group.string.optional.request_location
      %input#request_location.form-control{:name => 'location', :placeholder => "Please input city", :type => "text"}
  - else
    .form-group.string.optional.request_location
      %input#request_location.form-control{:name => 'location', :placeholder => "Please input city", :type => "text", :value => @request.location.city}
  
  = f.input :url, placeholder: 'Please input YouTube Url...'
  .request_image_class
    = image_tag(@request.image.url, title: 'Click here to change post image.')
  = f.file_field :image
  %br
  .input--submit
    = f.button :submit, "Create Post", class: "btn btn-info"