%header.header--section
  .container.header--content

    %h1 Browse Students

    - if params[:category_id]
      = form_tag(category_requests_path, method: "get", role: "Search") do
        .form-group.header--serach
          = label_tag :q, "Search for:", class: "sr-only"
          = text_field_tag :q, params[:q], class: "form-control", placeholder: "Search..."
          %button.btn--serach{:name => "commit", :type => "submit", class: "btn--search"}
            %i.fa.fa-search

    - else
      = form_tag(requests_path, method: "get", role: "Search") do
        .form-group.header--serach
          = label_tag :q, "Search for:", class: "sr-only"
          = text_field_tag :q, params[:q], class: "form-control", placeholder: "Search..."
          %button.btn--serach{:name => "commit", :type => "submit", class: "btn--search"}
            %i.fa.fa-search
