- provide(:title, "Browse")
.container
  .row.content--section
    .col-xs-12.col-sm-3.col-md-2.left-menu
      .filter--section
        %h4.filter--title Categories
        %ul.list--reset.filter--list
          %li
            = link_to "All", browse_path
            %span.pull-right (#{@posts.length + @requests.length})
          - @categories.each do |category|
            %li
              - if category.record_count > 1
                = link_to category.title.titleize.pluralize, category_browse_index_path(category)
              - else
                = link_to category.title.titleize, category_browse_index_path(category)
              %span.pull-right (#{category.record_count})
      .filter--section
        %h4.filter--title Sort by City
        = render 'shared/browse/post_types'
    
    .col-xs-12.col-sm-9.col-md-10.post-area
      .area--section
        - if ! @search_title.nil?
          .col-xs-12
            %h4 Things to learn in #{@search_title}
        - else
          .col-xs-12
            %h4 Things to learn all over the world
        .row
          - @posts.each do |post|
            .col-xs-6.col-sm-4.col-md-3.post-collect
              .post-gallery
                .post-image
                  = image_tag(post.image.url, class: 'post-image')
                %span.pull-left.post-price
                  $
                  %strong
                    10
                .col-md-12.row-reviews
                  .pull-left.post-review
                    %p 8 Reviews
                  .rating.pull-right
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                .col-md-12.row-title
                  %h5 #{post.title}
                %hr
                .row
                  .col-md-5.pull-left
                    = image_tag(post.user.profile.avatar.url, class: 'post-avatar')
                    %p.post-name #{post.user.profile.first_name}&nbsp;#{post.user.profile.last_name.slice(0,1).capitalize}.
                  .col-md-7.pull-right
                    .fa.fa-envelope-o.pull-right.post-add-tool.post-mail
                    .fa.fa-envelope-o.pull-right.post-add-tool.post-forward
                    .fa.fa-heart-o.pull-right.post-add-tool.post-favour
        - if ! @search_title.nil?
          .col-xs-12
            %h4 Things to teach in #{@search_title}
        - else
          .col-xs-12
            %h4 Things to teach all over the world
        .row
          - @requests.each do |request|
            .col-xs-12.col-sm-6.col-md-4
              .request--box.box
                .request--info
                  %p
                    %span.info--city= request.location.city
                    %span.info--price.pull-right.dollar--sign
                      = request.price
                      hr
                .request--title
                  %h3= link_to request.title, request
                .request--profile
                  = gravatar_for request.user.profile
                  = link_to request.user.profile.name, request.user
                  %a.request--message--icon.pull-right{ href: "#0", alt: "Message"}
                    %i.fa.fa-envelope-o
