- provide(:title, "Browse")
.container
  .row.content--section
    .col-xs-6.col-sm-3.col-md-2.left-menu
      .filter--section
        %h4.filter--title Categories
        %ul.list--reset.filter--list
          %li
            = link_to "All", browse_path
          - @categories.each do |category|
            %li
              - if category.record_count > 1
                = link_to category.title.titleize.pluralize, category_browse_index_path(category)
              - else
                = link_to category.title.titleize, category_browse_index_path(category)
              %span.pull-right (#{category.posts.count})

      .filter--section
        %h4.filter--title Sort by City
        .col-xs-12.no--padding
          %ul.list--reset.filter--list
            - @normal_locations.each do |location|
              %li
                - if location.city == 'Other'
                  - counts = 0
                  - @additional_locations.each do |location|
                    - counts += location.posts.count

                  = link_to location.city, '#', :id => "other_location"
                  %span.pull-right (#{counts})

                - else
                  = link_to location.city, location_browse_index_path(location)
                  %span.pull-right (#{location.posts.count})

            %form{:action => "/locations/", :method => "get", :id => "location_filter"}
              .form-group
              %input{:name => "city", :type =>"text", :class => "form-control", :id => "additional_cities"}

    
    .col-xs-6.col-sm-9.col-md-10.post-area
      .area--section
        = link_to "Show people who want to learn", browse_requests_path
        - if ! @search_title.nil?
          .col-xs-12
            %h4 Things to learn in #{@search_title}
        - else
          .col-xs-12
            %h4 Things to learn all over the world
        - @posts.each do |post|
          .col-xs-12.col-sm-4.col-md-3.post-collect
            .post-gallery
              .post-image
                = image_tag(post.image.url, class: 'post-image')
              %span.pull-left.post-price
                $
                %strong
                  #{post.price}
              .col-md-12.row-reviews
                .pull-left.post-review
                  %p 8 Reviews
                .rating.pull-right
                  %i.fa.fa-star
                  %i.fa.fa-star
                  %i.fa.fa-star
                  %i.fa.fa-star
                  %i.fa.fa-star
              .col-md-12.row-title
                %h5 I will teach you #{post.title}
              .row
                .col-md-5.pull-left
                  = gravatar_for(post.user.profile)
                  - user_name = post.user.profile.first_name << " " <<  post.user.profile.last_name.slice(0,1).capitalize << "."
                  = link_to user_name, user_path(post.user)
                .col-md-7.pull-right
                  .fa.fa-envelope-o.pull-right.post-add-tool.post-mail
                  .fa.fa-angle-double-right.pull-right.post-add-tool.post-forward
                  .fa.fa-heart-o.pull-right.post-add-tool.post-favour