= simple_form_for @post do |f|
  .form-group.select.required.input_category
    = f.label :category_id, label: "Select a Category for this Post"
    = f.input_field :category_id, as: :select, collection: Category.all, prompt: "Select category", required: true
    = f.error :category_id
  %span.fixed-start-post-title
    I will teach you
  = f.input :title, placeholder: 'how to study English'
  %span.check-validation
    Can't be empty
  %br
  = f.input :description, placeholder: 'Try to describe what you can do for students, minimum 20 characters'
  = f.input :experience, placeholder: 'Briefly describe your experience, minimum 20 characters'
  - if @post.location_id.nil?
    = f.input :location_id, as: :select, collection: @normal_locations.map{|location| [location.city, location.id]}, prompt: "Select Location", required: true
  - else
    -if @post.location_id > 6
      = f.input :location_id, as: :select, collection: @normal_locations.map{|location| [location.city, location.id]}, prompt: "Select Location", required: true, selected: 7
    - else
      = f.input :location_id, as: :select, collection: @normal_locations.map{|location| [location.city, location.id]}, prompt: "Select Location", required: true

  - if @post.location_id.nil?
    .form-group.string.optional.post_location
      %input#post_location.form-control{:name => 'location', :placeholder => "Please input city", :type => "text"}
  - else
    .form-group.string.optional.post_location
      %input#post_location.form-control{:name => 'location', :placeholder => "Please input city", :type => "text", :value => @post.location.city}
      
  = f.input :url, placeholder: 'Please input YouTube Url...'

  .clear
    .col-xs-6.no--padding--left
      = f.input :years_experience, label: 'Years of experience'
    .col-xs-6.no--padding--right
      = f.input :price, label: 'Price per hour'
  .post_image_class
    = image_tag(@post.image.url, title: 'Click here to change post image.')
  = f.file_field :image
  %br
  .input--submit
    = f.button :submit, class: "btn btn-primary"
