- provide(:title, "Posts")

= render 'header'

.container
  .row.content--section

    .col-xs-12.col-sm-3.col-md-2
      .filter--section
        %h4.filter--title Top Categories
        %ul.list--reset.filter--list
          %li= link_to "All", posts_path
          - @categories.each do |category|
            %li
              = link_to category.title.titleize.pluralize, category_posts_path(category)
              -# %span (#{category.record_cout})
      .filter--section
        %h4.filter--title Types
        = render 'shared/browse/post_types'

    .col-xs-12.col-sm-9.col-md-10
      .area--section
        .row
          - @posts.each do |post|
            .col-xs-12.col-sm-6.col-md-4
              .post--box.box
                .post--info
                  %p
                    %span.info--city= post.user.profile.city
                    %span.info--price.pull-right.dollar--sign
                      = post.price
                      hr
                .post--title
                  %h3= link_to post.title, post
                .post--profile
                  = gravatar_for post.user
                  = link_to post.user.profile.name, post.user
                  %a.post--message--icon.pull-right{ href: "#0", alt: "Message"}
                    %i.fa.fa-envelope-o
