- provide(:title, @post.title)

.header--section
  .container.header--content
    .row
      .col-xs-12
        %h1= @post.title
      .col-xs-12
        - if @post.user == current_user
          = link_to "Edit", edit_post_path(@post), class: "btn btn-default"
          = link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger"
      .header--info
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          .col-xs-4.info--box
            %h5 Location
            %p
              = @post.location.city

          .col-xs-4.info--box
            %h5 Category
            %p
              = @post.category.title.titleize.pluralize

          .col-xs-4.info--box
            %h5 Price
            %p.dollar--sign
              = @post.price
              per hr


.container
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      .box.box--floated.clear
        .box--main.col-xs-12.col-sm-8
          .main--content
            %h4 Description
            %p= @post.description
            %h4 Experience
            %p= @post.experience
            %h4 Years of experience
            %p
              = @post.years_experience
              years
            .post_image
              = image_tag(@post.image.url)

        .box--sidebar.col-xs-12.col-sm-4
          .sidebar--content
            .sidebar--profile
              .profile--picture
                = gravatar_for @post.user.profile
              .profile--data
                = link_to @post.user.profile.name, user_path(@post.user), class: "data--author--link"
                %p.data--email= @post.user.email
                %a.btn.btn-primary.data--button.message--icon{ href: "#0", alt: "Message"}
                  %i.fa.fa-envelope-o
