!!!
%html
%head

  %meta{:charset => "utf-8"}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  %meta{:name => "description", :content => ""}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

  %title= full_page_title(yield(:title))
  = include_gon
 
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body{:class => @home_page ? 'homepage' : '', :id => !user_signed_in? ? "not-sign-in" : "temp"}
  %nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header.half-size
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-menu-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to (root_path), class: "pull-left nav-brand" do
          = image_tag("logo.png", class: "navbar--logo")
        .pull-left.search_form
          %form{:action => "/browse"}
            %h5 Develop yourself with teachers, tutors, coaches and mentors around the world.
            .top-search-div
              %input{:type => "text", :name => "searchKey", :class => "form-control"}
              %button{:class => "btn top-search-button pull-right"}
                %i{:class => 'fa fa-search'}

      #main-menu-1.collapse.navbar-collapse.half-size.pull-right
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to(new_post_path) do
                %button{:class => "btn pull-right"}
                  %i{:class => "fa fa-2x fa-plus-square-o"}
            %li
              = link_to (browse_path) do
                %button{:class => "btn pull-right"}
                  %i{:class => "fa fa-2x fa-home"}
            %li
              = link_to ("#") do
                %button{:class => "btn pull-right"}
                  %i{:class => "fa fa-2x fa-globe"}
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %button{:class => "btn"}
                  %i{:class => "fa fa-2x fa-user"}
                %span.caret
              %ul.dropdown-menu
                %li= link_to "My Profile", current_user
                %li= link_to "Edit Profile", edit_user_profile_path(current_user.id, current_user.profile.id)
                / %li= link_to "Account", edit_user_registration_path
                %li= link_to "Setting", "#"
                %li.divider{role: "separator"}
                %li= link_to "Sign Out", destroy_user_session_path, method: :delete

        - else
          %ul.nav.navbar-nav.navbar-right
            = link_to (new_user_session_path) do
              %button{:class => "btn pull-right"}
                %i{:class => "fa fa-2x fa-sign-in"}
            = link_to (new_post_path) do
              %button{:class => "btn pull-right"}
                %i{:class => "fa fa-2x fa-user"}
            = link_to (browse_path) do
              %button{:class => "btn pull-right"}
                %i{:class => "fa fa-2x fa-globe"}
  - if !flash.nil?
    .container.home-padding
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"
  - else
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"

  = yield

  = render 'shared/footer'

  -# = debug(params) if Rails.env.development?
